<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="{% url 'listagem_usuarios' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <h1>Cadastro de Usuários</h1>
        Nome: <input name="nome" class="form-control-sm" type="text"><br><br>
        Foto: <input name="foto" class="form-control-sm" type="file"><br><br>
        Descrição do Produto: <textarea name="descricao" class="form-control-sm"></textarea><br><br>
        Quantidade: <input name="quantidade" class="form-control-sm" type="number"><br><br>
        <button class="form-control-sm">Enviar</button>
    </div>
</form>

</body>
</html>
